body
{
	margin-top: 15px;
}

div.columns span.label
{
	margin-top: 0.7em;
}

div.rhs-component
{
	display: inline-block;
	margin-right: 10px;
}

div.rhs-component
{
	width: 120px;
}

span.postfix.success
{
	background-color: rgb(200,255,200);
}

.clickable
{
	cursor: pointer;
}

div.error
{
	background-color: orange;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

table.expanding
{
	width: 100%;
}

table.expanding td
{
	text-align: center;
}

span.parser-action.shift
{
	color: green;
}

span.parser-action.reduce
{
	color: orange;
}

span.parser-action.goto
{
	color: blue;
}

span.parser-action.accept
{
	color: green;
	font-weight: bold;
}

span.parser-action:not(:first-of-type)
{
	margin-left: 5px;
}

td.parser-actions.conflicted
{
	border: 1px solid red;
}